*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  align-items: center;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.calculate{
  display: flex;
  gap: 10px;
  justify-content: center;  
  align-items: center;
}
input{
  display: flex;
}
h1 {
  text-align: center;
}

div {
  margin: 10px 0;
}

input, select, button {
  padding: 5px;
}

#result {
  font-weight: bold;
}
