.pokedex-wrapper {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 0 auto;
}

.pokedex-wrapper h1 {
     font-size: 3rem;
     letter-spacing: 10px;
}