.grid {
     display: grid;
     grid-template-columns: repeat(3, 100px);
     gap: 5px;
     justify-content: center;
     align-items: center;
}

.turnHighlight {
     color: aliceblue;
}

.flex {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}